body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
    line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover{
  color: #EAF6F6;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width:4%;
    margin: 100px auto;

}

p{
  line-height: 2;
}

.top-container {
  background-color: #e1f2fb;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}


.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.lang-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ach-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;

}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn{
	box-shadow:inset 0px 1px 0px 0px #276873;
	background:linear-gradient(to bottom, #11cdde 5%, #11999e 100%);
	background-color:#11cdde;
	border-radius:8px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	padding:12px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin-top: 40px;
}

.btn:hover {
	background:linear-gradient(to bottom, #11999e 5%, #11cdde 100%);
	background-color:#11999e;
}

.btn:active {
	position:relative;
	top:1px;
}
